/* import the Google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* basic system style  */
*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}

.quicksand{
    font-family: "Quicksand", serif;
  }

.raleway{
    font-family: "Raleway", serif;
  }

  :root{
    --white:#f7f7f7;
    --Sky-Blue:#01ACFD;
    --Orange:#FEA301;
    --Black:#111111;
  }

  a{
    text-decoration: none;
  }

  .btn-primary{
    background-color: var(--Orange);
    padding: 10px 60px;
    color: var(--white);
    font-size: 20px;
font-weight: 600;
line-height: 30px;
border: none;
border-radius: 10px;
  }


  /* Header section design Start */

  /* Navbar design  */
  .navbar{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .logo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo{
    /* width: 62px; */
  }

  .logoTitle{
font-size: 32px;
font-weight: 700;
line-height: 30px;
  }

  .navList{
    list-style: none;
    display: flex;
    gap: 32px;
  }

 /* Header section design End */

